*{
    box-sizing: border-box;
}
.container{
    width: 550px;
    background-color: black;
    position: absolute;
}

.row{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    
    
}
.img-width{
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
.container:hover .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: 2s ease;
}
}
.overlay{
    position: relative;
    filter: grayscale(100%);
}